.header {
  height: 80px;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: -1;
  background-color: var(--top-bar-color);
}

.link {
  display: block;
}

.logo {
  display: block;
  width: 115px;
  margin: 0 auto;
}